/client/ChessAndCard/Library/
/client/ChessAndCard/Temp/

#Server
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases
[Bb]in/
[Oo]bj/
[Ll]og/