/client/ChessAndCard/Library/
/client/ChessAndCard/Temp/

/client/TestDownMono/Library/
/client/TestDownMono/Temp/
/client/TestDownMono/OutApk/
/client/TestDownMono/testversion/
/client/TestDownMono/AndroidProject/downmono/bin/

/client/SnakeWar/Library/
/client/SnakeWar/Temp/
/client/SnakeWar/OutApk/

#Server
# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases
[Bb]in/
[Oo]bj/
[Ll]og/