<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--基本配置
        Port:监听端口
        Code:产品代码
        ServerId:产品游服代码
        Redis.Host:Redis主机地址
        Redis.Port:Redis主机端口
        Redis.Password:密码
        Redis.Db:数据库位置
    -->
    <add key="Game.Http.Host" value="127.0.0.1" />
    <add key="Game.Http.Port" value="6688" />
    <add key="Product.Code" value="0" />
    <add key="Product.ServerId" value="0" />
    <add key="Game.Port" value="9001" />
    <add key="Redis.Host" value="127.0.0.1:6379" />
    <add key="ScriptRelativePath" value="Script" />
    <add key="CSharpRootPath" value="CsScript" />
    <add key="ScriptMainClass" value="MainClass.cs" />
    <add key="ScriptMainTypeName" value="GameServer.Script.MainClass" />
    <add key="LuaRootPath" value="LuaScript" />
    <add key="Game.Language.TypeName" value="GameServer.CsScript.Locale.SimplifiedLanguage" />
    <add key="Game.Action.Script.TypeName" value="GameServer.CsScript.Action.Action{0}" />
    <add key="Script_IsDebug" value="True" />
    <add key="PublishType" value="Debug" />
    <add key="Lua_Disable" value="True" />
    <add key="ScriptAsmReferences" value="GameP.dll" />
    <!--脚本解密回调配置-->
    <!--<add key="Game.Script.DecodeFunc.TypeName" value="ScutSecurity.ScriptDes,ScutSecurity"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SnsCenter" providerName="MySqlDataProvider" connectionString="Data Source=localhost;Database=snscenter;Uid=root;Pwd=123456;" />
    <!--add name="PayCenter" providerName="MySqlDataProvider" connectionString="Data Source=localhost;Database=PayDB;Uid=root;Pwd=123456;"/>
    <add name="ConnData" providerName="MySqlDataProvider" connectionString="Data Source=localhost;Database=PHData;Uid=root;Pwd=123456;"/-->
  <add name="chessandcard" providerName="MySqlDataProvider" connectionString="Data Source=localhost;Database=chessandcard;Uid=root;Pwd=123456;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>